body {
   --AeroEyeTFriendly: #77B91E;
   --AeroEyeTransphobic: #991515;
}

.aero-eye-theme-green-red-max {
   --AeroEyeTFriendly: #00FF00;
   --AeroEyeTransphobic: #FF0000;
}

.aero-eye-theme-purple-yellow {
   --AeroEyeTFriendly: rgb(153, 0, 255);
   --AeroEyeTransphobic: rgb(179, 152, 0);
}

.aero-eye-theme-cyan-orange {
   --AeroEyeTFriendly: rgb(98, 161, 197);
   --AeroEyeTransphobic: #FB6A4A;
}

.assigned-label-transphobic, a.assigned-label-transphobic { color: var(--AeroEyeTransphobic) !important; }
.assigned-label-t-friendly, a.assigned-label-t-friendly { color: var(--AeroEyeTFriendly) !important; }

.has-assigned-label * { color: inherit !important; }
.aero-eye-debug-snippet-highlight {
     outline: 2px dashed darkorchid !important;
     background-color: darkorchid !important;
     color: white !important;
 }
 .aero-eye-debug-snippet-highlight:after {
    content: " ";
    pointer-events: none;
    z-index: 1000000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkorchid !important;
    opacity: 0.5;
 }
